<div class="container">
  <h2>Detalles del Libro</h2>
  <div class="details-box">
    <p><strong>ID del Libro:</strong> {{ libroId }}</p>
    <p><strong>Título:</strong> {{ titulo }}</p>
    <p><strong>Autor:</strong> {{ autor }}</p>
    <p><strong>ISBN:</strong> {{ isbn }}</p>
    <p><strong>Monto:</strong> {{ monto }}</p>
    <p><strong>Año de Publicación:</strong> {{ anioPublicacion }}</p>
  </div>
  
  <h2>Crear Préstamo</h2>
  <form (ngSubmit)="onSubmit()" #prestamoForm="ngForm" class="form-box">
    <div class="form-group">
      <label for="dias">Dias:</label>
      <input type="number" id="dias" [(ngModel)]="prestamo.dias" name="dias" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Préstamo</button>
  </form>
</div>



<!--------------------------------------FOOTER-------------------------------------------------------------------->

<footer class="footer">
  <div class="footer-column">
    <h3>CONTACTO</h3>
    <p>🎧 Atención al cliente 24/7: (+593)927314029</p>
    <div class="social-icons">
      <img src="../../../assets/facebook.png" alt="facebook">
      <img src="../../../assets/instagram.jpg" alt="instagram">
      <img src="../../../assets/youtube.png" alt="youtube">
      <img src="../../../assets/tik-tok.png" alt="tiktok">
      <img src="../../../assets/gorjeo.png" alt="twitter">
    </div>
  </div>
  <div class="footer-column">
    <div class="footer-center">
      <h3>Por qué comprar</h3>
      <ul>
        <li><u>Centro de ayuda en linea</u></li>
        <li><u>Política de devolucion de productos</u></li>
        <li><u>Términos y condiciones</u></li>
        <li><u>Propiedad intelectual</u></li>
      </ul>
    </div>
  </div>
  <div class="footer-column">
    <div class="footer-end">
      <h3>MÉTODOS DE PAGO</h3>
      <div class="social-icons">
        <img src="../../../assets/visa.jpg" alt="Visa">
        <img src="../../../assets/paypal.png" alt="Paypal">
        <img src="../../../assets/tarjeta.png" alt="MasterCard">
      </div>
    </div>
  </div>
  <p class="slogan">® 2018- 2025 -Paraíso de los libros- Todos los derechos reservados - </p>
</footer>

